.tagBall {
    width:500px;
    height:500px;
    /*position:absolute;*/
    /*top:20px;*/
    /*left:20px;*/
}
.tag {
    display:block;
    position:absolute;
    left:0px;
    top:0px;
    color:#000;
    text-decoration:none;
    font-size:15px;
    font-family:"微软雅黑";
    font-weight:bold;
}
.tag:hover {
    border:1px solid #666;
}
.form_vav td {
    color:#a78b6f;
}